body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow: hidden; 
            transition: background-color 0.3s, color 0.3s;
        }

        h2 {
            text-align: center;
            color: #333;
            margin: 10px 0;
            font-size: 32px; 
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            width: 100%;
            padding: 0 5%;
            box-sizing: border-box;
        }

        .game {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            width: 100%;
        }

        .iframe-container {
            position: relative;
            width: 100%;
            height: 56.25vw; 
            max-height: 56.25vh; 
            overflow: hidden;
            background: #000;
        }

        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px; 
            margin: 10px 0;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px; 
        }

        button:hover {
            background-color: #0056b3;
        }

        .footer {
            background-color: grey;
            color: white;
            text-align: center;
            padding: 10px;
            width: 100%;
            font-size: 14px; 
        }

        .footer a {
            color: white;
            text-decoration: none;
        }

       
        body.dark {
            background-color: #121212;
            color: #f0f2f5;
        }

        body.dark h2 {
            color: #f0f2f5;
        }

        body.dark .footer {
            background-color: #333;
        }

        body.dark button {
            background-color: #444;
        }

        body.dark button:hover {
            background-color: #666;
        }
